<ng-container *ngIf="student">

<h3>Edit student - {{student.name}}</h3>

<form (ngSubmit)="save()">
    <div>
        <label class="form-label">Name and surname:  </label>
        <input name="studentName" [(ngModel)]="student.name" class="form-control" type="text">
    </div>

    <div>
        <label class="form-label">address email:  </label>
        <input name="studentEmail" [(ngModel)]="student.email" class="form-control" type="email">
    </div>
    
    <div>
        <button
        [disabled]="isUpdateProcessing"
        class="btn btn-outline-success"
        
        style="margin-top: 15px;">
        <span *ngIf="isUpdateProcessing" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        Save</button>
    </div>
</form>

<div *ngIf="isSuccessUpdate" class="alert alert-success" style="margin-top: 15px;">
    Success!
</div>

</ng-container>