body {
    background-color: black;
}

.background {
    background-color: darkslateblue;
}

header, main, footer {
    margin-top: 40px;
}

h1, p {
    color: white;
}

.hidden {
    display: none;
}

.gold-paragraph {
    color: gold;
}
.warning {
    display: block;
}